= render :partial => "layouts/header"
.container
  .row
    .span6.adminHome
      .hero-unit
        %h1
          Welcome.
        %p
          Enjoy your <strong>internet experience!</strong>
    
          